unstructured[all-docs]
langchain-community
langchain-qdrant
qdrant-client
langchain-ollama
langchain
langgraph
langchain-google-genai
unstructured-client
fastapi
uvicorn
deepeval
ollama
fastembed
streamlit
httpx
sentence-transformers
torch
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
openinference-instrumentation-langchain
mcp
